.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
    color: #666666;
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #666666;
}

.p-datatable .p-datatable-thead > tr > th {
 
    color: #666666 !important;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
font-weight: bold !important;
}

